* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px solid red;
  font-family: arial;
}

body, html {
  max-width: 100%;
  overflow-x: hidden;
}

/*type*/

p {
  font-family: arial;
  font-size: 10pt;
  color: #f05050;
  padding-right: 20px;
  line-height: 130%;
}

.head p {
  text-transform: uppercase;
}

.change-text {
}

a:link, a:visited {
  color: #f05050;
  text-decoration: none;
}

a:hover, a:active {
  color: #61185b;
}

.text-flip p, .text-flip a:link,
.text-flip a:visited {
  text-decoration: none;
  color: #61185b;
}

.text-flip a:hover, .text-flip a:active {
  color: #f05050;
}

.head p, .nav p, .last p {
  padding-right: 0px;
}

.caption {
  font-family: arial;
  font-size: 9pt;
}

.detail {
  padding-top: 20px;
  opacity: 0.5;
}

.column {
  column-count: 2;
}

.title {
  font-size: 32pt;
}

.happy12 {
  margin: 0px -4px 0px -3px;
  font-size: 14pt;
  position: relative;
  top: -0.05em
}

.happy10 {
  margin: 0px -3px 0px -2.5px;
  font-size: 11.5pt;
  position: relative;
  top: -0.05em
}

/*div*/

body {
  backgXround-color: rgb(0,0,0);
}

.mobile {
  visibility: hidden;
  position: absolute;
}

@media screen and (max-width: 1200px) {
  .flex-box {
    flex-direction: column;
  }
  .desktop {
    visibility: hidden;
  }
  .mobile {
    visibility: visible;
    position: static;
  }
}

.flex-box {
  display: flex;
}

.home-head {
  height: 200px;
  padding: 0px 10px 10px 10px;
}

.disc-container {
  padding-bottom: 0px;
  display: flex;
  align-items: baseline;
  height: calc(100% - 200px);
}

.disc-box {
  flex: 3;
  height: 100%;
  z-index: -1000;
}

.flex1 {
  flex: 1;
  padding-bottom: 30px;
}

.flex2 {
  flex: 2;
  padding-bottom: 30px;
}

.flex3 {
  width: 100%;
  padding-bottom: 30px;
}

.col1 {
  width: 20%;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.imgL {
  width: 90%;
  float: left;
  height: auto;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.img1 {
  width: 100%;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.img2 {
  float: left;
  width: 50%;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.img3 {
  width: 80%;
  padding-top: 50px;
  padding-left: 50px;
}

.img4 {
  width: 80%;
  padding-top: 50px;
  padding-left: 50px;
  float: right;
}

.img5 {
  width: 100%;
  padding-top: 50px;
}

.best-box {
  width: 25%;
  padding-top: 25%;
  padding-left: 50px;
  border-radius: 50%;
  background-color: #ccc;
}

.best {
  width: 500px;
  padding-top: 50px;
  padding-left: 50px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.image-container {
  position: flex;
  width: 100%;
  padding-bottom: 30px;
}

.homestyle {
  margin: 10px 10px;
}

.nav-box {
  margin: 0 auto;
  width: 100%;
  height: 40px;
  display: flex;
  position: fixed;
  z-index: 2000;
}

.sector {
  margin: 0 auto;
  width: calc(100% - 100px);
  border: 0.5px solid #000;
  border-top: 0px;
  padding: 10px 10px 10px 10px;
}

.sector-box {
  margin: 0 auto;
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 1000;
}

.fill {
  background-color: #fff;
}

.post-head {
  padding-top: 40px;
}

.head {
  display: flex;
  justify-content: space-between;
}

.home {
  padding: 50px 0px 0px 0px;
  height: 100vh;
}

.nav {
  margin: 0 auto;
  width: calc(100% - 100px);
  border: 0.5px solid #000;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  background-color: #fff;
}

.highlight {
  border: 5px solid red;
}

.last {
  border-bottom: 0.5px solid #000;
}

.disc {
  height: 100%;
  padding-right: 100%;
  float: right;
  border-radius: 50%;
  background-color: #fff;
}

.disc-test {
  height: calc(60vw - 100px);
  max-height: 100%;
  width: calc(60vw - 100px);
  padding-right: 100%;
  float: left;
  border-radius: 50%;
  background-color: #f05050;
}

.change-fill {
}

/*stickit*/

.project-container {
  position: relative;
}

.stuck {
  margin: 0 auto;
	position: fixed;
	top: 40px;
}

.stuck-end {
	bottom: 0px;
	position: absolute;
	right: 0;
}
